body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#contain {
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#msg {
  font-size: 14pt;
  text-align: left;
  /*margin-top: 140px;*/
  padding: 1px;
}

#btn {
  height: 100px;
  margin-top: 50px;
}